.container {
  display: flex;
  overflow: scroll;
  margin-bottom: -4em;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .container {
    margin-bottom: -4em;
  }
}
